div {
    width: 300px; 
    height:300px;
    background-image:url('https://tntsports.com.br/__export/1590485744009/sites/esporteinterativo/img/2020/05/26/cristiano-ronaldo-cinco-champions.jpg_423682103.jpg');
    background-size:cover;
}